* {
    box-sizing: border-box;
    font-family: fantasy;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.homepage {
    border-style: solid; 
    border-color: aqmarine;
    display: grid;
    padding: 50px;
    background-color:
}

.btn :hover {

}